<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
    </ion-nav-bar>
    

    <ion-content scroll="false" ng-controller="MyCtrl">
        <div class="flex">
           <div class="dataarea"> {{val}} </div>

            <div class="keyboard">

                <div class="keyboard-view" >
                    <div class="row">
                        <div class="col btn" ng-click="clicked(1)" >1</div>
                        <div class="col btn" ng-click="clicked(2)">2</div>
                        <div class="col btn" ng-click="clicked(3)">3</div>
                        <div class="col btn" ng-click="clicked(4)">4</div>
                        <div class="col btn" ng-click="clicked(5)">5</div>
                        <div class="col btn" ng-click="clicked(6)">6</div>
                        <div class="col btn" ng-click="clicked(7)">7</div>
                        <div class="col btn" ng-click="clicked(8)">8</div>
                        <div class="col btn" ng-click="clicked(9)">9</div>
                        <div class="col btn" ng-click="clicked(0)">0</div>
                    </div>

                    <div class="row">
                        <div class="col btn" ng-click="clicked('q')">q</div>
                        <div class="col btn" ng-click="clicked('w')">w</div>
                        <div class="col btn" ng-click="clicked('e')">e</div>
                        <div class="col btn" ng-click="clicked('r')">r</div>
                        <div class="col btn" ng-click="clicked('t')">t</div>
                        <div class="col btn" ng-click="clicked('y')">y</div>
                        <div class="col btn" ng-click="clicked('u')">u</div>
                        <div class="col btn" ng-click="clicked('i')">i</div>
                        <div class="col btn" ng-click="clicked('o')">o</div>
                        <div class="col btn" ng-click="clicked('p')">p</div>
                    </div>

                    <div class="row">
                        <div class="col btn" ng-click="clicked('a')">a</div>
                        <div class="col btn" ng-click="clicked('s')">s</div>
                        <div class="col btn" ng-click="clicked('d')">d</div>
                        <div class="col btn" ng-click="clicked('f')">f</div>
                        <div class="col btn" ng-click="clicked('g')">g</div>
                        <div class="col btn" ng-click="clicked('h')">h</div>
                        <div class="col btn" ng-click="clicked('j')">j</div>
                        <div class="col btn" ng-click="clicked('k')">k</div>
                        <div class="col btn" ng-click="clicked('l')">l</div>
                    </div>
                </div>
          </div>


  </body>
</html>
