/* Empty. Add your own CSS if you like */
body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}


.hidden {
    display: none;
}

.flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    background: black;
}

.dataarea {
    flex: 1;
    -webkit-flex: 1;
    font-size: 20px;
    font-family: "Times New Roman";
    font-weight: 300;
    overflow: scroll;
    background: transparent;
  color: white;
}

.keyboard-view {
    flex: 1;
    -webkit-flex: 1;
    height: 100%;
    background: black;
}

.keyboard-view .row{
    margin-bottom: 10px;
}

.keyboard-view .row:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    cursor: pointer;
    background-color: #4B4B4B;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 24px;
    font-weight: bolder;
    margin: 2px;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;

    -webkit-box-shadow: 1px -2px 0px -1px rgba(255,255,255,0.50);
    -moz-box-shadow: 1px -2px 0px -1px rgba(255,255,255,0.50);
    box-shadow: 1px -2px 0px -1px rgba(255,255,255,0.50);
}

.small {
    font-size: 20px;
}


.btn.action {
    background-color: #292929;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 50px;
    margin-right: 8px;
}

/* .activated is a class added by Ionic when we click on an element */
.btn.activated {
    background-color: #717171;
    color: white;
}


.btn.action.activated {
    background-color: #717171;
    color: white;
}


/* Place a left margin when an action button follows a normal character button*/
.btn:not(.action) + .btn.action {
    margin-left: 8px;
}

.btn.action:first-child{
    margin-left: 0px;
}

.btn.action:last-child{
    margin-right: 0px;
}
